<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Allrecipes{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('icons/logo.png') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="menu">
            <div class="logo"><a href="{{ path('home') }}"><image src="{{ asset('icons/Allrecipes-logo.png') }}"></a></div>

            <div class="auth-section">
                <ul>
                    {% if not app.user %}
                        <li>
                            <button class="auth-btn">
                                <a href="{{ path('login') }}">
                                    <span>Вход</span>
                                    <image class="btn-logo" src="{{ asset('icons/login.png') }}">
                                </a>
                            </button>
                        </li>

                        <li>
                            <button class="auth-btn">
                                <a href="{{ path('registration' )}}">
                                    <span>Регистрация</span>
                                    <image class="btn-logo" src="{{ asset('icons/register.png') }}">
                                </a>
                            </button>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li>
                            <a href="{{ path('profile') }}" class="profile-btn">
                                <image class="avatar" src="{{ asset('images/avatar.jpg') }}">
                                {{ app.user.login }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="sidebar">
            <div class="sidebar-content">
                <ul>
                    <li>
                        <a href="#">
                            <span>Закуски</span>
                            <image class="category-logo" src="{{ asset('icons/snacks.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Салаты</span>
                            <image class="category-logo" src="{{ asset('icons/salad.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Первые блюда</span>
                            <image class="category-logo" src="{{ asset('icons/soup.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Вторые блюда</span>
                            <image class="category-logo" src="{{ asset('icons/spaghetti.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Гарниры</span>
                            <image class="category-logo" src="{{ asset('icons/rice.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Десерты</span>
                            <image class="category-logo" src="{{ asset('icons/dessert.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Выпечка</span>
                            <image class="category-logo" src="{{ asset('icons/bakery.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Напитки</span>
                            <image class="category-logo" src="{{ asset('icons/lemonade.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Заготовки</span>
                            <image class="category-logo" src="{{ asset('icons/tomatoes.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Соусы</span>
                            <image class="category-logo" src="{{ asset('icons/sauce.png') }}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-container">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
