<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Allrecipes{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('icons/logo.png') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="menu">
            <div class="logo"><a href="{{ path('home') }}"><image src="{{ asset('icons/Allrecipes-logo.png') }}"></a></div>

            <div class="auth-section">
                <ul>
                    {% if not app.user %}
                        <li>
                            <button class="auth-btn">
                                <a href="{{ path('login') }}">
                                    <span>Вход</span>
                                    <image class="btn-logo" src="{{ asset('icons/login.png') }}">
                                </a>
                            </button>
                        </li>

                        <li>
                            <button class="auth-btn">
                                <a href="{{ path('registration' )}}">
                                    <span>Регистрация</span>
                                    <image class="btn-logo" src="{{ asset('icons/register.png') }}">
                                </a>
                            </button>
                        </li>
                    {% endif %}

                    {% if app.user %}
                        <li>
                            <a href="{{ path('profile') }}" class="profile-btn">
                                <image class="avatar" src="{{ asset('images/avatar.jpg') }}">
                                {{ app.user.login }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="sidebar">
            <div class="sidebar-content">
                <ul>
                    {% for category in get_categories() %}
                        <li>
                            <a href="{{ path('category_show', {'slug': category.slug}) }}">
                                <span>{{ category.name }}</span>
                                <img class="category-logo" src="{{ asset(category.icon) }}" alt="{{ category.name }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="content-container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
